<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">

{%include "Head.html"%}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/enroll.css') }}">


<body>

      <form action="/" class="form" method="POST">
         <section class="container" id="section1">
                  <header>Diploma Enroll Form</header>
                  <form action="enroll-2.html" class="form">
                      <div class="input-box">
                          <label>Full Name</label>
                          <input type="text" name="name" placeholder="Enter full name" required />
                      </div>
          
                      <div class="input-box">
                          <label>MyKad No.</label>
                          <input type="text" name="ic" placeholder="Enter My Kad NO." required />
                      </div>
          
                      <div class="gender-box">
                         <label>Gender</label>
                          <div class="gender-option">
                              <div class="gender">
                                  <input type="radio" id="check-male" name="gender" checked />
                                  <label for="check-male">Male</label>
                              </div>
                              <div class="gender">
                                  <input type="radio" id="check-female" name="gender" />
                                  <label for="check-female">Female</label>
                              </div>
                          </div>
                      </div>
          
                      <div class="input-box address">
                          <label>Address</label>
                          <input type="text" name="address" placeholder="Enter street address" required />
          
                          <div class="column">
                              <div class="select-box" name="state">
                                  <select name="state" required>
                                      <option  hidden>State</option>
                                      <option value="Kuala Lumpur">Kuala Lumpur</option>
                                      <option value="Selangor">Selangor</option>
                                      <option value="Melaka">Melaka</option>
                                      <option value="Johor">Johor</option>
                                      <option value="Pahang">Pahang</option>
                                      <option value="Penang">Penang</option>
                                      <option value="Perak">Perak</option>
                                      <option value="Kedah">Kedah</option>
                                      <option value="Terengganu">Terengganu</option>
                                      <option value="Kelantan">Kelantan</option>
                                      <option value="Sabah">Sabah</option>
                                      <option value="Sarawak">Sarawak</option>
                                      <option value="Negeri Sembilan">Negeri Sembilan</option>
                                      <option value="Perlis">Perlis</option>
                                  </select>
                              </div>
                              <input type="text" name="city" placeholder="Enter your city" required />
                          </div>
                          <div class="column">
                              <input type="number" name="postCode" placeholder="Enter postal code" required />
                          </div>
                      </div>
          
                      <div class="column">
                          <div class="input-box">
                              <label>Phone Number</label>
                              <input type="text" name="phoneNo" placeholder="Enter phone number" required />
                          </div>
                          <div class="input-box">
                              <label>Email Address</label>
                              <input type="text" name="email" placeholder="Enter email address" required />
                          </div>
                      </div>
          
                      <div class="input-box programme">
                          <label>Programme</label>
                          <div class="input-box">
                                  <div class="select-box">
                                      <select  name="campus" id="campusSelect" required>
                                          <option hidden>Campus</option>
                                            {% for row in campus %}
                                                <option value="{{row[0]}}">{{row[1]}}</option>
                                            {% endfor %}
                                      </select>
                                  </div>
                               
                                   <div class="select-box">
                                      <select  name="program" id="programSelect" required>
                                          <option hidden>Please Select Campus First</option>
                                      </select>
                                  </div>
                      </div>
          
                      <div class="file-box input-box column">
                            <label>MyKad (Front)</label>
                          <input type="file" id="frontIc" name="frontIc" required>
                      </div>
          
                      <div class="file-box input-box column">
                          <label>MyKad (Back)</label>
                          <input type="file" id="backIc" name="backIc" required>
                      </div>
              </section>
                            
          <section class="container" style="margin-top:20px;">
              <header>Academic Qualification</header>
              <h5 style="margin-top: 15px;text-decoration: underline;">Programme</h5>
             
                  <div class="input-box">
                      <label>Qualification</label>
                      <div class="column">
                          <div class="select-box">
                              <select name="qualification" required>
                                  <option hidden>Qualification</option>
                                  <option  value="1">SPM</option>
                                  <option  value="2">O Level</option>
                              </select>
                          </div>
                          <input type="text" name="resultYear" placeholder="Year" required />
                          <div class="select-box" name="typeOfResult">
                              <select>
                                  <option hidden>Type Of Result</option>
                                  <option>Actual Result</option>
                                  <option>Trial/Provisional results</option>
                              </select>
                          </div>
                      </div>
                  </div>
      
                  <div id="input-container">
                      <label style="padding-top: 20px;">Subject & Grade</label>
                      <div class="input-box" id="input-box-1">
                          <div class="column">
                              <div class="select-box">
                                  <select id="subject1" name="subject" required>
                                      <option value="" disabled selected>Select Subject</option>
         
                                        {% for row in subject %}
                                                  <option value="{{row[1]}}">{{row[1]}}</option>
                                        {% endfor %}
                                      <!-- Add more subjects here -->
                                  </select>
                              </div>
                              
                              <div class="select-box">
                                  <select id="grade1" name="grade" required>
                                      <option value="" disabled selected>Select Grade</option>
                                      <!-- Add your grade options here -->
                                          {% for row in grade %}
                                                  <option value="{{row[1]}}">{{row[1]}}</option>
                                        {% endfor %}
                                  </select>
                              </div>
                          </div>
                      </div>
      
      
      
                      <div class="input-box" id="input-box-2">
                          <div class="column">
                             
                              <div class="select-box">
                                  <select id="subject2" name="subject" required>
                                      <option value="" disabled selected>Select Subject</option>
                                       {% for row in subject %}
                                                  <option value="{{row[1]}}">{{row[1]}}</option>
                                        {% endfor %}
                                      <!-- Add more subjects here -->
                                  </select>
                              </div>
                              <div class="select-box">
                                  <select id="grade2" name="grade" required>
                                      <option value="" disabled selected>Select Grade</option>
                                      <!-- Add your grade options here -->
                                       {% for row in grade %}
                                                  <option value="{{row[1]}}">{{row[1]}}</option>
                                        {% endfor %}
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="input-box" id="input-box-3">
                          <div class="column">
                              <div class="select-box">
                                  <select id="subject3" name="subject" required>
                                      <option value="" disabled selected>Select Subject</option>
                                        {% for row in subject %}
                                                  <option value="{{row[1]}}">{{row[1]}}</option>
                                        {% endfor %}
                                      <!-- Add more subjects here -->
                                  </select>
                              </div>
                              <div class="select-box">
                                  <select id="grade3" name="grade" required>
                                      <option value="" disabled selected>Select Grade</option>
                                      <!-- Add your grade options here -->
                                       {% for row in grade %}
                                                  <option value="{{row[1]}}">{{row[1]}}</option>
                                        {% endfor %}
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="column">
                      <button type="button" id="remove-subject-button" class="remove-subject-button" disabled>
                          Remove One Subject
                      </button>
                      <button type="button" id="add-subject-button" class="add-subject-button" disabled>
                          Add Another Subject
                      </button>
                  </div>
                  <div class="file-box input-box column">
                      <label>Result Certificate</label>
                      <input type="file" id="resultCert" name="resultCert">
                  </div>
                  <div class="column">
                      <button onclick="checkQualification()">Check Qualification and Enroll</button>
                  </div>
          </section>
    </form>
                
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

      <script>
      
          $(document).ready(function () {
              $('#campusSelect').change(function () {
                  var campus_id = $(this).val();
                  
                  $.ajax({
                      url: "/getSubjectWithCampus",
                      type: "GET",
                      data: { campus_id: campus_id },
                      success: function (data) {
                          // Clear existing program options
                          $('#programSelect').empty();
      
                          // Populate program options
                          data.forEach(function (program) {
                              $('#programSelect').append($('<option>', {
                                  value: program.prog_id,
                                  text: program.prog_name
                              }));
                          });
                      },
                      error: function (error) {
                          console.error(error);
                      }
                  });
              });
          });
      </script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const inputContainer = document.getElementById("input-container");
        const addButton = document.querySelector(".add-subject-button");
        const removeButton = document.querySelector(".remove-subject-button");

        // Initialize subject count
        let subjectCount = 3;
        let maxSubject = {{ totalSubj[0] | tojson | safe }};

        // Disable the "Remove One Subject" button by default
        removeButton.disabled = true;

        // Function to check if all subject and grade fields are selected
        function checkFields() {
            let allFieldsSelected = true;
            for (let i = 1; i <= subjectCount; i++) {
                const subjectDropdown = document.getElementById(`subject${i}`);
                const gradeDropdown = document.getElementById(`grade${i}`);
                if (subjectDropdown.value === "" || gradeDropdown.value === "") {
                    allFieldsSelected = false;
                    break;
                }
            }
            return allFieldsSelected;
        }

        // Function to enable/disable buttons based on field selection
        function updateButtonState() {
            if (subjectCount >= 3 && checkFields()) {
                addButton.disabled = false;
            } else {
                addButton.disabled = true;
            }

            if (subjectCount >= maxSubject) {
                addButton.disabled = true;
            }

            if (subjectCount > 3) {
                removeButton.disabled = false;
            } else {
                removeButton.disabled = true;
            }
        }


        addButton.addEventListener("click", function () {
            if (subjectCount < maxSubject) {
                const index = subjectCount + 1;
                const inputBox = document.createElement("div");
                inputBox.className = "input-box";
                inputBox.id = `input-box-${index}`;
                inputBox.innerHTML = `
                    <div class="column">
                        <div class="select-box">
                            <select id="subject${index}" name="subject" required>
                                <option value="" disabled selected>Select Subject</option>
                                 {% for row in subject %}
                                    <option value="{{row[1]}}">{{row[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-box">
                            <select id="grade${index}" name="grade" required>
                                <option value="" disabled selected>Select Grade</option>
                                <!-- Add your grade options here -->
                                {% for row in grade %}
                                    <option value="{{row[1]}}">{{row[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                `;
                inputContainer.appendChild(inputBox);
                subjectCount++;

                if (subjectCount > 3) {
                    removeButton.disabled = false;
                }

                if (subjectCount >= maxSubject - 1) {
                    addButton.disabled = true;
                }

                updateButtonState();
            }
            updateButtonState();
        });

        inputContainer.addEventListener("change", function () {
            updateButtonState();
        });

        function remove() {
            if (subjectCount > 3) {
                const index = subjectCount;
                const inputBoxToRemove = document.getElementById(`input-box-${index}`);
                if (inputBoxToRemove) {
                    inputContainer.removeChild(inputBoxToRemove);
                    subjectCount--;
                    if (subjectCount <= 3) {
                        removeButton.disabled = true;
                    }
                    if (subjectCount < maxSubject) {
                        addButton.disabled = false;
                    }
                }
                updateButtonState();
            }
        }

        removeButton.addEventListener("click", remove);



    });
</script>
<script>
      // Check duplication
      function checkForDuplicates() {
          const selectedSubjects = new Set(); // Create a set to store selected subjects
          let hasDuplicates = false;
      
          // Iterate through the subject dropdowns and check for duplicates
          for (let i = 1; i <= subjectCount; i++) {
              const subjectDropdown = document.getElementById(`subject${i}`);
              const selectedSubject = subjectDropdown.value;
      
              // Check if the selected subject is already in the set
              if (selectedSubjects.has(selectedSubject)) {
                  hasDuplicates = true;
                  break; // Break out of the loop if a duplicate is found
              } else {
                  selectedSubjects.add(selectedSubject); // Add the selected subject to the set
              }
          }
      
          return hasDuplicates; // Return true if duplicates are found, otherwise false
      }

      function checkQualification() {
        if (checkForDuplicates()) {
            alert("Duplicate subjects are not allowed.");
        } else {
            // No duplicates found, submit the form
            document.querySelector(".form").submit();
        }
    }
      
</script>


</body>

</html>
