<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">

{%include "Head.html"%}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/enroll.css') }}">


<body>

    <section class="container">

       <img src="{{ url_for('static', filename='images/all-icon/success.png') }}" style="width: 15%; display: block;margin-left: auto; margin-right: auto;">
        <header>Enrollment Submission Successful!</header>

      <br>
        <p>Your enrollment has been successfully submitted. <br>
            The result of submission will sent through your email within few days. <br>
            Thank you for choosing our program!
        </p>

             <div style="padding-top:10px;">
                
                
                    <a href="/"><button class="success-btn">Back to Main Page</button></a>
                  </div>
    

    </section>


</body>

</html>
