<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">

{%include "Head.html"%}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/enroll.css') }}">


<body>

    <section class="container">

        <header>Enrollment Unsuccessful!</header>

      {% if mismatched == None: %}
         <p>Sorry, your enrollment could not be processed because you have not met the required number of credits for this program.</p>

      {% else: %}
        <p>Sorry, your enrollment could not be processed because you have not met the compulsory subject requirements for this program.</p>

      {%endif%}

            <p>Please review your subject grades and ensure you meet the required grades for the compulsory subjects before submitting your enrollment.</p>
    
                 <div style="padding-top:25px;">
                   
                
                      <button class="success-btn" >Back to Main Page</button>
                  </div>
    
    </section>

      


</body>

</html>
