<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">

     {%include "Head.html" %}
    <!---enrol form css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enroll.css') }}">

    

<body>
   
    
    <section class="container">
        <header>Academic Qualification</header>
        <h5 style="margin-top: 15px;text-decoration: underline;">Programme</h3>
            <form action="index.html" class="form">
                <div class="input-box">
                    <label>Qualification</label>
                    <div class="column">
                        <div class="select-box" name="qualification">
                            <select>
                                <option hidden>Qualification</option>
                                <option>SPM</option>
                                <option>O Level</option>

                            </select>
                        </div>
                        <input type="text" name="resultYear" placeholder="Year" required />

                        <div class="select-box" name="typeOfResult">
                            <select>
                                <option hidden>Type Of Result</option>
                                <option>Actual Result</option>
                                <option>Trial/Provisional results</option>
                            </select>
                        </div>
                    </div>
                </div>
             <div id="input-container">
              <div class="input-box">
                <label>Subject & Grade</label>
                     <div class="column">
                            <div class="select-box">
                              <select  name="subject" required>
                                <option value="" disabled selected>Select Subject</option>
                                <option value="Math">Math</option>
                                <option value="Science">Science</option>
                                <option value="History">History</option>
                                <!-- Add more subjects here -->
                              </select>
                            </div>

                              <div class="select-box">
                                <select name="grade">
                                  <option hidden>Grade</option>
                                  <!-- Add your grade options here -->
                                   <option value="Math">A</option>
                                   <option value="Science">B</option>
                                   <option value="History">C</option>
                                </select>
                              </div>

                            </div>
                          
                          
                       <div class="column">
                       
                         <button type="button" id="add-subject-button" >Remove One Subject</button>
                           <button type="button" id="add-subject-button">Add Another Subject</button>
                          
                       </div>
                
                 </div>
                  

                <div class="file-box input-box column">
                      <label>Result Certificate</label>
                    <input type="file" id="resultCert" name="resultCert">
                </div>

                <button>Check Qualification</button>
                <button>Enroll Now</button>
            </form>
    </section>

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
</body>

</html>
