<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">

{%include "Head.html"%}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/enroll.css') }}">


<body>

    <section class="container">

        <header>Enrollment Successful!</header>

        <p>Your enrollment has been successfully submitted. Thank you for choosing our program!</p>

             <div style="padding-top:25px;">
                   
                
                    <a href="/" class="success-link">Back to Main Page</a>
                  </div>
    

    </section>


</body>

</html>
