<!doctype html>
<html lang="en">
    {% include 'Head.html' %}
<body>
   
    <!--====== PRELOADER PART START ======-->
    

    
    <!--====== PRELOADER PART START ======-->
    
     <!--====== HEADER PART START ======-->
    
  {% include 'Header.html' %}
    
    <!--====== HEADER PART ENDS ======-->
   
    <!--====== SEARCH BOX PART START ======-->
    
    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>
    
    <!--====== SEARCH BOX PART ENDS ======-->
   
    <!--====== SLIDER PART START ======-->
    
    <section id="slider-part" class="slider-active">
        <div class="single-slider bg_cover pt-150" style="background-image: url(https://www.tarc.edu.my/files/focs/37E888E7-0177-4026-9409-EF416E3827AB.png)" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">Welcome to Faculty of Computing and Informmation Technology (FOCS)</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">Select MORE INFO to watch Faculty Video</p>
                            <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn Video-popup" href="https://www.youtube.com/watch?v=VbLIvaqQwpY">MORE INFO</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->

        <div class="single-slider bg_cover pt-150" style="background-image: url(https://www.tarc.edu.my/files/focs/41521178-95BA-49DD-B191-F2C15418B3FC.jpg)" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">TAR UMT officially Launches Centre Of Excellence For BDA & AI</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">Displaying the highest level of skill proficiency in their respective fields,  TAR UMT students managed to claim top prizes at the WorldSkills Asia Online Friendly Games and Malaysia Belia 2021 competitions</p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
        
        <div class="single-slider bg_cover pt-150" style="background-image: url(https://www.tarc.edu.my/files/focs/2785EC98-6F23-4C4E-A109-6123227EDB97.jpg)" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">TAR UMT Students Bag WorldSkills Top Prizes in Cloud Computing, Cyber Security and Mobile App Dev</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">Displaying the highest level of skill proficiency in their respective fields,  TAR UMT students managed to claim top prizes at the WorldSkills Asia Online Friendly Games and Malaysia Belia 2021 competitions</p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->

        <div class="single-slider bg_cover pt-150" style="background-image: url(https://www.tarc.edu.my/files/focs/6F89CD43-ADDD-46C6-B75D-3D135FF4605E.jpg)" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">Advantech AIoT Developer InnoWorks Programme 2021</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">FOCS students were given the Best Team Award for their innovative proposals on "Mask Detection, Area Security, Social Distancing" and "Multi-Storey Robot Delivery System"</p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->

        <div class="single-slider bg_cover pt-150" style="background-image: url(https://www.tarc.edu.my/files/focs/6B3B6A89-6E28-4FEF-A56E-968A3EE45634.png)" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">TAR UC Awarded Premier Digital Tech University Status Again</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">Prof Ir Dr Lee (2nd from right) receiving the award from YBhg Dato’ Prof Ir Dr Mohd Saleh Jaafar (2nd from left) together with Surina Shukri (leftmost) and Ts Dr Mohammad Naim Bin Yaakub (rightmost), Deputy Director General (Planning), Polytechnic & Community College Education Department in the Ministry of Education."</p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->

    </section>
    
    <!--====== SLIDER PART ENDS ======-->
   
    <!--====== CATEGORY PART START ======-->
    
    <section id="category-part">
        <div class="container">
            <div class="category pt-40 pb-80">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="category-text pt-90">
                            <h2>What Do We Have Here?</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                        <div class="row category-slied mt-40">
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-1">
                                        <span class="icon">
                                            <img src="{{ url_for('static', filename='images/all-icon/ctg-3.png') }}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>PROGRAMMES</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-2">
                                        <span class="icon">
                                            <img src="{{ url_for('static', filename='images/all-icon/ctg-1.png') }}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>STAFF</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-3">
                                        <span class="icon">
                                            <img src="{{ url_for('static', filename='images/all-icon/ctg-3.png') }}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>Literature</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-1">
                                        <span class="icon">
                                            <img src="{{ url_for('static', filename='images/all-icon/ctg-1.png') }}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>Language</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-2">
                                        <span class="icon">
                                            <img src="{{ url_for('static', filename='images/all-icon/ctg-2.png') }}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>Business</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-3">
                                        <span class="icon">
                                            <img src="{{ url_for('static', filename='images/all-icon/ctg-3.png') }}" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>Literature</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                        </div> <!-- category slied -->
                    </div>
                </div> <!-- row -->
            </div> <!-- category -->
        </div> <!-- container -->
    </section>
    
    <!--====== CATEGORY PART ENDS ======-->
   
    <!--====== ABOUT PART START ======-->
    
    <section id="about-part" class="pt-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title mt-50">
                        <h5>About us</h5>
                        <h4>Welcome to the Faculty of Computing and Information Technology </h4>

                    </div> <!-- section title -->
                    <div class="about-cont">
                        <p> <i>"Pathway to a Rewarding Career in Computing and IT World"</i>
                            <br><br>
                            The Faculty of Computing and Information Technology (FOCS) of Tunku Abdul Rahman University of Management and Technology (TAR UMT) 
                            continuously aims to produce good quality and highly-demanded computing graduates. The good track of records in producing successful 
                            digital tech graduates is recognized by the Malaysia Digital Economy Corporation (MDEC) as the preferred digital tech education provider 
                            and thereby awarded TAR UMT as one of the Premier Digital Tech Institutions in the presence of the Ministry of Education. 
                            <br><br>
                            FOCS actively involves in industry based research and development projects that require the latest knowledge and skills in the area of 
                            Artificial Intelligence, Data Science, Big Data Analytics, Machine Learning and Internet of Things to prepare our graduates for the Industrial 
                            Revolution 4.0 job market as well as readiness for the digital transformation in the industry. 
                            <br><br>
                            FOCS always strive for excellence, driven by a team of dedicated and committed lecturers, which is the most important key ingredient to our graduates' 
                            success. To find out more about our lecturers' expertise areas, refer to the lecturers' profile. 
                            <br><br>
                            We are looking forward for you to choose FOCS at TAR UMT as part of your life changing journey towards success in life. Find out more about our programmes as a step towards a rewarding career pathway.  See you around! </p>
                            <br><br>
                            Click <strong>LEARN MORE</strong> to Watch Faculty of Computing and Information Technology Virtual Campus Tour.
                            <br><br>
                        <a href="https://www.youtube.com/watch?v=VbLIvaqQwpY" class="main-btn mt-10 Video-popup">Learn More</a>
                    </div>
                </div> <!-- about cont -->
                <div class="col-lg-5 offset-lg-1">
                    <div class="about-event mt-50">
                        <div class="event-title">
                            <h3>AWARDS:</h3>
                        </div> <!-- event title -->
                        <ul >
                            <li type="1">
                                <div class="singel-event">
                                    <strong>Centre of Excellence for Big Data Analytics and Artificial Intelligence -&nbsp;</strong>Joint-collaboration with MDEC in 2020
                                </div>
                            </li>
                            <li type="1">
                                <div class="singel-event">
                                    <strong>Premier Digital Tech IHL status</strong> in 2017 and being awarded again in 2019 and&nbsp;now being awarded the third time in 2022
                                </div>
                            </li>
                            <li type="1">
                                <div class="singel-event">
                                    <strong>IBM Centre of Excellence in Big Data Analytics</strong> in 2019
                                </div>
                            </li>
                            <li type="1">
                                <div class="singel-event">
                                    <strong>Industry Center of Excellence</strong> (ICoE) in ICT cluster in 2013 by MOHE
                                </div>
                            </li>
                            <li type="1">
                                <div class="singel-event">
                                    The <strong>Most Engaged IHL Industry Academia Collaboration</strong> 2012 by MDeC
                                </div>
                            </li>
                            <li type="1">
                                <div class="singel-event">
                                    <strong>IBM Center of Excellence Status for software</strong> by IBM in 2011
                                </div>
                            </li>
                            <li type="1">
                                <div class="singel-event">
                                    <strong>Best Cisco Academy Award</strong> in 2010, 2011 and 2012
                                </div>
                            </li>
                            <li type="1">
                                <div class="singel-event">
                                    <strong>Best Novell Academic Training Partner</strong> in 2009
                                </div>
                            </li>
                        </ul> 
                    </div> <!-- about event -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="about-bg">
            <img src="{{ url_for('static', filename='images/about/bg-1.png') }}" alt="About">
        </div>
    </section>
    
    <!--====== ABOUT PART ENDS ======-->
   
    <!--====== APPLY PART START ======-->
    
    <section id="apply-aprt" class="pb-120">
        <div class="container">
            <div class="apply">
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <div class="apply-cont apply-color-2">
                            <h3>Apply for Programme</h3>
                            <p>Gravida nibh vel velit auctor aliquetn sollicitudirem sem quibibendum auci elit cons equat ipsutis sem nibh id elituis sed odio sit amet nibh vulputate cursus equat ipsutis.</p>
                            <a href="#" class="main-btn">ENROLL NOW</a>
                        </div> <!-- apply cont -->
                    </div> 
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== APPLY PART ENDS ======-->
   
    <!--====== COURSE PART START ======-->
    
    <section id="course-part" class="pt-115 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title pb-45">
                        <h5>Our Programme</h5>
                        <h2>Featured Programmes </h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row course-slied mt-30">
                <div class="col-lg-4">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="images/course/cu-1.jpg" alt="Course">
                            </div>
                            <div class="price">
                                <span>Free</span>
                            </div>
                        </div>
                        <div class="cont">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>(20 Reviws)</span>
                            <a href="courses-singel.html"><h4>Learn basis javascirpt from start for beginner</h4></a>
                            <div class="course-teacher">
                                <div class="thum">
                                    <a href="#"><img src="images/course/teacher/t-1.jpg" alt="teacher"></a>
                                </div>
                                <div class="name">
                                    <a href="#"><h6>Mark anthem</h6></a>
                                </div>
                                <div class="admin">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="images/course/cu-2.jpg" alt="Course">
                            </div>
                            <div class="price">
                                <span>Free</span>
                            </div>
                        </div>
                        <div class="cont">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>(20 Reviws)</span>
                            <a href="courses-singel.html"><h4>Learn basis javascirpt from start for beginner</h4></a>
                            <div class="course-teacher">
                                <div class="thum">
                                    <a href="#"><img src="images/course/teacher/t-2.jpg" alt="teacher"></a>
                                </div>
                                <div class="name">
                                    <a href="#"><h6>Mark anthem</h6></a>
                                </div>
                                <div class="admin">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="images/course/cu-3.jpg" alt="Course">
                            </div>
                            <div class="price">
                                <span>Free</span>
                            </div>
                        </div>
                        <div class="cont">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>(20 Reviws)</span>
                            <a href="courses-singel.html"><h4>Learn basis javascirpt from start for beginner</h4></a>
                            <div class="course-teacher">
                                <div class="thum">
                                    <a href="#"><img src="images/course/teacher/t-3.jpg" alt="teacher"></a>
                                </div>
                                <div class="name">
                                    <a href="#"><h6>Mark anthem</h6></a>
                                </div>
                                <div class="admin">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="{{ url_for('static', filename='images/all-icon/ctg-4.png') }}" alt="Course">
                            </div>
                            <div class="price">
                                <span>Free</span>
                            </div>
                        </div>
                        <div class="cont">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>(20 Reviws)</span>
                            <a href="courses-singel.html"><h4>Learn basis javascirpt from start for beginner</h4></a>
                            <div class="course-teacher">
                                <div class="thum">
                                    <a href="#"><img src="images/course/teacher/t-4.jpg" alt="teacher"></a>
                                </div>
                                <div class="name">
                                    <a href="#"><h6>Mark anthem</h6></a>
                                </div>
                                <div class="admin">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="images/course/cu-5.jpg" alt="Course">
                            </div>
                            <div class="price">
                                <span>Free</span>
                            </div>
                        </div>
                        <div class="cont">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>(20 Reviws)</span>
                            <a href="courses-singel.html"><h4>Learn basis javascirpt from start for beginner</h4></a>
                            <div class="course-teacher">
                                <div class="thum">
                                    <a href="#"><img src="images/course/teacher/t-5.jpg" alt="teacher"></a>
                                </div>
                                <div class="name">
                                    <a href="#"><h6>Mark anthem</h6></a>
                                </div>
                                <div class="admin">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- singel course -->
                </div>
            </div> <!-- course slied -->
        </div> <!-- container -->
    </section>
    
    <!--====== COURSE PART ENDS ======-->
   
    <!--====== VIDEO FEATURE PART START ======-->
    
    <section id="video-feature" class="bg_cover pt-60 pb-110" style="background-image: url(https://www.tarc.edu.my/files/cpus/DC93307D-4C98-4EE7-B484-835E9CC44181.png)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-last order-lg-first">
                    <div class="video text-lg-left text-center pt-50">
                        <a class="Video-popup" href="https://www.youtube.com/watch?v=ktZGenIwfkg"><i class="fa fa-play"></i></a>
                    </div> <!-- row -->
                </div>
                <div class="col-lg-5 offset-lg-1 order-first order-lg-last">
                    <div class="feature pt-50">
                        <div class="feature-title">
                            <h3>Our Facilities</h3>
                        </div>
                        <ul>
                            <li>
                                <div class="singel-feature">
                                    <div class="icon">
                                        <img src="images/all-icon/f-1.png" alt="icon">
                                    </div>
                                    <div class="cont">
                                        <h4>Quality Guaranteed</h4>
                                        <p>At TARUMT, we're dedicated to quality. 
                                            Our FOCS Facility reflects our commitment to excellence, ensuring you have access to top-notch amenities, 
                                            cutting-edge technology, and an environment that boosts your focus and productivity.</p>
                                    </div>
                                </div> <!-- singel feature -->
                            </li>
                            <li>
                                <div class="singel-feature">
                                    <div class="icon">
                                        <img src="{{ url_for('static', filename='images/all-icon/f-2.png') }}" alt="icon">
                                    </div>
                                    <div class="cont">
                                        <h4>Alumni Support</h4>
                                        <p>Our alumni support program is here to ensure your journey continues to flourish long after you've earned your degree.</p>
                                    </div>
                                </div> <!-- singel feature -->
                            </li>
                            <li>
                                <div class="singel-feature">
                                    <div class="icon">
                                        <img src="{{ url_for('static', filename='images/all-icon/f-3.png') }}" alt="icon">
                                    </div>
                                    <div class="cont">
                                        <h4>Priority on Safety</h4>
                                        <p>At TARUMT's FOCS Facility, your safety is paramount. We're dedicated to providing a secure and protected environment, 
                                            allowing you to focus on your goals with peace of mind.</p>
                                    </div>
                                </div> <!-- singel feature -->
                            </li>
                        </ul>
                    </div> <!-- feature -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="feature-bg"></div> <!-- feature bg -->
    </section>
    
    <!--====== VIDEO FEATURE PART ENDS ======-->
   
    <!--====== Staff PART START ======-->
    
    <section id="teachers-part" class="pt-70 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50">
                        <h5>Featured Staff</h5>
                        <h2>Meet Our Staff</h2>
                    </div> <!-- section title -->
                    <div class="teachers-cont">
                        <p>At TARUMT, our dedicated and experienced team is committed to providing exceptional educational experiences. 
                            Get to know the passionate individuals who make up our staff, each contributing their unique expertise to our vibrant learning community. 
                            <br> <br> 
                            From accomplished professors to caring support staff, we're here to guide and support you on your academic journey. 

                        <a href="#" class="main-btn mt-55">View Our Staff</a>
                    </div> <!-- teachers cont -->
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="teachers mt-20">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="singel-teachers mt-30 text-center">
                                    <div class="image">
                                        <img src="{{ url_for('static', filename='images/main/Ts. Lim Shen Huoy.png') }}" alt="Teachers">
                                    </div>
                                    <div class="cont">
                                        <h6>Ts. Lim Shen Huoy</h6></a>
                                        <span>Dean, Senior Lecturer</span>
                                    </div>
                                </div> <!-- singel teachers -->
                            </div>
                            <div class="col-sm-6">
                                <div class="singel-teachers mt-30 text-center">
                                    <div class="image">
                                        <img src="{{ url_for('static', filename='images/main/Ts. Chok Len Mooi.png') }}" alt="Teachers">
                                    </div>
                                    <div class="cont">
                                        <a href="teachers-singel.html"><h6>Ts. Chok Len Mooi</h6></a>
                                        <span>Deputy Dean (Academic), Principal Lecturer</span>
                                    </div>
                                </div> <!-- singel teachers -->
                            </div>
                            <div class="col-sm-6">
                                <div class="singel-teachers mt-30 text-center">
                                    <div class="image">
                                        <img src="{{ url_for('static', filename='images/main/Dr Wong Thein Lai.png') }}" alt="Teachers">
                                    </div>
                                    <div class="cont">
                                        <a href="teachers-singel.html"><h6>Dr Wong Thein Lai</h6></a>
                                        <span>Deputy Dean (Research & Development), Assistant Professor</span>
                                    </div>
                                </div> <!-- singel teachers -->
                            </div>
                            <div class="col-sm-6">
                                <div class="singel-teachers mt-30 text-center">
                                    <div class="image">
                                        <img src="{{ url_for('static', filename='images/main/Encik Ooi Chun Pew.png') }}" alt="Teachers">
                                    </div>
                                    <div class="cont">
                                        <a href="teachers-singel.html"><h6>Encik Ooi Chun Pew</h6></a>
                                        <span>Deputy Dean (Academic), Senior Lecturer</span>
                                    </div>
                                </div> <!-- singel teachers -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- teachers -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== TEACHERS PART ENDS ======-->
   
<!--====== FOOTER PART START ======-->
    
{% include 'Footer.html' %}

<!--====== FOOTER PART ENDS ======-->
   
    <!--====== BACK TO TP PART START ======-->
    
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    
    <!--====== BACK TO TP PART ENDS ======-->
   
    
    
    
    
    
    
    
    
    <!--====== jquery js ======-->
    <script src="{{url_for('static', filename='js/vendor/modernizr-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/jquery-1.12.4.min.js')}}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    
    <!--====== Slick js ======-->
   <script src="{{url_for('static', filename='js/slick.min.js')}}"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
    
    <!--====== Counter Up js ======-->
    <script src="{{url_for('static', filename='js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.counterup.min.js')}}"></script>

    <!--====== Nice Select js ======-->
   <script src="{{url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>
    
    <!--====== Nice Number js ======-->
   <script src="{{url_for('static', filename='js/jquery.nice-number.min.js')}}"></script>
    
    <!--====== Count Down js ======-->
   <script src="{{url_for('static', filename='js/jquery.countdown.min.js')}}"></script>
    
    <!--====== Validator js ======-->
   <script src="{{url_for('static', filename='js/validator.min.js')}}"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="{{url_for('static', filename='js/ajax-contact.js')}}"></script>
    
    <!--====== Main js ======-->
   <script src="{{url_for('static', filename='js/main.js')}}"></script>
    
    <!--====== Map js ======-->
    <script src="{{url_for('static', filename='https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ')}}"></script>
    <script src="{{url_for('static', filename='js/map-script.js')}}"></script>

</body>
</html>
